.restaurant_describe {
  margin-top: 105px;
  padding: 20px;
  background-image: url("../img/background2.png");
}

.restaurant_describe img {
  width: 500px;
  height: 300px;
}

.title_line {
  border-color:#DCDCDC;
}


