.carousel-item{
  margin-left: 12.7%;  
}
  
#main-navbar{
  font-weight: bold;
}
  
.tag{
  font-size: 20px;
  margin-left: 30%;
}

.topic{
  font-size: 50px;
  margin: auto auto;
}

.plus{
  position: relative;
  top: 150px;
}
  
  
  