.menu {
  margin-top: 105px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("../img/background2.png");
}

.tag{
  font-size: 20px;
}

.topic{
  font-size: 50px;
}

.plus{
  position: relative;
  top: 80px;
}

@media (max-width:768px) {
  .topic{
    font-size: 40px;
  }
  .tag {
    font-size: 16px;
  }
}

.hidden {
  display: none;
}
  