@font-face {
  font-family: 'Oswald';
  src: url('../font/Oswald/Oswald-VariableFont_wght.ttf') format("truetype");     
}

@font-face {
  font-family: 'DFT';
  src: url('../font/DFT/DFT_R8.ttc') format("truetype");     
}

@font-face {
  font-family: 'Noto';
  src: url('../font/Noto/NotoSerifCJKtc-Regular.otf') format("opentype");     
}

html{
	width: 100%;
}

* {
	box-sizing: border-box;
}

body{
  font-family: "DFT" ;
}

@media (min-width: 768px) {
  /*nav選單*/
	.navbar{
	  padding-left:50px!important;
	  padding-right:50px!important; 
  }
}

.bg-red {
  background-color: #DB0007;
}

.bg-red .navbar-text {
  font-size: 16px;
  color: gold!important;
}

.bg-red .nav-item.active .nav-link,
.bg-red .nav-item:hover .nav-link {
    color: #ffffff;
}

.linkLogo img {
  height: 16%;
  width: 16%;
  margin-right: 15px;
  border-radius: 50%;
}

@media (min-width:768px) and (max-width:992px) {
  .bg-red .navbar-text {
    font-size: 13px!important;
    color: gold!important;
  }
}
@media (max-width:767px) {
  .linkLogo img {
    height: 8%!important;
    width: 8%!important;
    margin-right: 15px;
    border-radius: 50%;
  }
}

.banner{
  margin-top: 105px;
  margin-bottom: 20px;
}

.banner .container-fluid {
	padding:0!important;
}

.quality {
  padding: 35px;
  background: gold;
}

.quality img {
  box-shadow:2px 2px 4px gray;
  height: 80%;
  width: 80%;
}

.story {
	font-size: 16px;
}

.story span {
	font-style: italic;
	font-size: 20px;
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.title_line {
  border-color:#DB0007;
  border-width: 5px;
  border-radius: 100px;
}

@media (max-width:992px) {
  .quality img {
    height: 100%;
    width: 100%;
  }

  .story {
    font-size: 14px;
    padding-left: 25px;
  }
  
  .story span {
    font-style: italic;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
}

@media (max-width:767px) {
  .quality--image--display_none {
    display: none;
  }
}

footer {
  font-size: 12px;
}