@font-face {
  font-family: 'Oswald';
  src: url('./font/Oswald/Oswald-VariableFont_wght.ttf') format("truetype");     
}
body{
  font-family: "Oswald" ;
}
.navbar-custom {
  background-color: #DB0007;
}
.navbar-custom .nav-link{
  font-size: 20px;
  color: gold;
}
.navbar-custom .nav-item.active .nav-link, .navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}
.carousel-item{
  margin-left: 170px;
}